<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <div class="env-element" id="current-env" env="daily">LFY管理平台</div>
                </div>
                <div class="logo-element">LFY</div>
            </li>
            <li>
                <a href="${contextPath}/index.htm">
                    <i class="fa fa-th"></i> <span class="nav-label">首页</span>
                    <span class="label label-info pull-right">推荐</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-server"></i> <span class="nav-label">系统管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="${contextPath}/admin/list.htm">用户管理</a></li>
                    <li><a href="${contextPath}/node-group-manager.htm">角色管理</a></li>
                    <li><a href="${contextPath}/node-group-manager.htm">权限管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-random"></i> <span class="nav-label">业务管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="${contextPath}/admin/list2.htm">部门管理</a></li>
                    <li><a href="${contextPath}/cron-job-queue.htm">会员管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>